$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';


body {
    background-image: url('../images/dragon.jpg');
    background-repeat: no-repeat;
    color: red;
}

/*columns*/


.sidebar, .main, .display {
    vertical-align: top;
    display: inline-block;
    min-height: 300px;
}

.sidebar {
    background-color: rgba(46, 8, 8, 0.3);
}

.main {
    background-color: rgba(100, 11, 50, 0.5);
    position: relative;
}

.display {
    background-color: rgba(46, 8, 8, 0.6);
}

/* forms */

.form-control {
    background-color: rgba(0, 0, 0, 0.3);
    color: red;
}


/*buttons*/

.btn-default {
  background-color: rgba(46, 8, 8, 0.3);
  color: rgba(230, 6, 6, 0.9)
} 

.btn {
    margin: 10px;
}

.new {
  margin: 5% 0 0 25%;

}

.save {
    margin: 5% 0 0 0;    
}

.action {
    display: inline-block;
    width: 30%;
}

.edit {

}

.delete {
    
}

/* other */
.container {
    margin: 260px 0 0 80px;
}

.footer {
    margin: 273px auto;
}

/*   stuff is hapnin   */

.hidden {
    opacity: 0;
}

.visible {
    visibility: visible;
}
/* trash  */