$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

$column-bg-color: rgba(46, 8, 8, 0.6);

body {
    background: url('../images/dragon.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #D5AB2F;
    font-size: 20px;
}

.containerer {
    margin-top: 250px ;
    text-align: center;

    @media (max-width: 768px){
        width: 250px;
        margin: 200px auto;
    }
}

/*columns*/


.sidebar, .main, .display {
    width: 250px;
    min-height: 300px;
    vertical-align: top;
    display: inline-block;
    background: $column-bg-color;
    box-shadow: 0px 4px 9px 2px #221111;
    border-radius: 30px;
    margin-right: 20px;
    border: 1px solid rgb(48, 27, 27);
}


.display {

    @media (max-width: 768px){
        margin: 20px 0;
    }
}


.notes {
    list-style-type: none;
    text-align: center;
    padding: 0px;
    display: inline-block;
    cursor: pointer;
}


/* forms */

.form {
    margin: 20px 20px 0;
}

.form-control {
    background-color: rgba(0, 0, 0, 0.3);
    color: #D5AB2F;
    border: 1px solid #D5AB2F;
}

.col-lg-12 {
    padding: 0;
}

/*buttons*/

.btn-default {
  background-color: #3D1515;
  color: #D5AB2F;
  margin: 5% auto;
  border: 0px solid rgba(194, 109, 17, 0.53);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 6px 14px 2px #221111;
  font-size: 20px;
  display: block;
} 

.btn-default:hover {
    background-color: rgba(41, 5, 5, 1);
    color: #D5AB2F;
}

.btn-default:focus {
    outline: none;
    background-color: #3D1515;
    color: #D5AB2F;
}

.btn-default:active {
    border: 0;
    box-shadow: 0px 0px 0px 0px;
    margin-top: 6%;
    background-color: #3D1515;
}

.edit {
    margin-right: 10px;
    display: inline-block;
}

.kill {
    display: inline-block;
}

/*   utility   */

.hidden {
    opacity: 0;
}

/*trash  */