$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';


body {
    padding-top: 20px;
    padding-bottom: 20px;
}


.container {
    background-color: plum;
}
/*columns*/

/*.row {
    margin:-700px 0 0 400px;
}*/
.sidebar, .main, .actions {
    vertical-align: top;
    display: inline-block;
    min-height: 300px;
}

.sidebar {
    background-color: #EBFEFE;
}

.main {
    background-color: #CDFFFC;
}

.actions {
    background-color: #EBFEFE;
}


/*buttons*/

.btn-default {
  background-color: #D3FDFD;
} 

.new {
  margin: 5% 0 0 25%;

}

.save {
    margin: 5% 0 0 0;    
}

/*   nav   */

.nav {
    margin-top: 15px;
}


/* trash  */